include /partials/icon-title
include /partials/avatar
include /partials/button
include /partials/lang-combinations-dropdown
include /partials/choose-actions-dropdown
include /partials/massive-actions-dropdown
include /partials/view-select

.table-holder
  table.table
    thead
      tr
        each heading in ['ID:', 'Name:', 'Acc type:', 'Services:', 'Languages:', 'Status:', 'Actions:']
          th
            h5 #{heading}
    tbody
      //- ROW
      tr
        td
          p 12879452
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              +avatar({image:'images/user/avatar.jpg'})
            .row-group__item
              p.font-bold Lukas Baranauskas
        td
          +button({type:'bordered', border:'caribbean-green', noEvents:true})(type="button")| Freelance
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            each icon in ['proofreading', 'translation']
              .row-group__item
                img(src=`images/icons/${icon}.svg`, alt=`${icon}`)
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              p EN-LT, LT, RU,
            .row-group__item
              +lang-combinations-dropdown()
        td
          p.font-semibold.text-whating-yellow Wating for approval
        td
          +choose-actions-dropdown()
      //- ROW
      tr
        td
          p 12879452
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              +avatar({image:'images/user/avatar.jpg'})
            .row-group__item
              p.font-bold Marija Juodijenė
        td
          +button({type:'bordered', noEvents:true})(type="button")| Full time
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            each icon in ['proofreading', 'translation', 'interpreting', 'creative-editing']
              .row-group__item
                img(src=`images/icons/${icon}.svg`, alt=`${icon}`)
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              p EN-LT, LT, RU,
            .row-group__item
              +lang-combinations-dropdown()
        td
          p.font-semibold.text-whating-yellow Wating for approval
        td
          +choose-actions-dropdown()
      //- ROW
      tr
        td
          p 12879452
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              +avatar({image:'images/user/avatar.jpg'})
            .row-group__item
              p.font-bold Marija Juodijenė
        td
          +button({type:'bordered', noEvents:true})(type="button")| Full time
        td
        td
          p --
        td
          p.font-semibold.text-whating-yellow Wating for approval
        td
          +choose-actions-dropdown()
      //- ROW
      tr
        td
          p 12879452
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              +avatar({image:'images/user/avatar.jpg'})
            .row-group__item
              p.font-bold Marija Juodijenė
        td
          +button({type:'bordered', noEvents:true})(type="button")| Full time
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            each icon in ['proofreading', 'translation', 'interpreting', 'creative-editing']
              .row-group__item
                img(src=`images/icons/${icon}.svg`, alt=`${icon}`)
        td
          .row-group.row-group--sm.row-group--nowrap.row-group--align-center
            .row-group__item
              p EN-LT, LT, RU,
            .row-group__item
              +lang-combinations-dropdown()
        td
          p.font-semibold.text-whating-yellow Wating for approval
        td
          +choose-actions-dropdown()

.catalog__content-footer
  +view-select()
  +massive-actions-dropdown()
