include /partials/icon-title
include /partials/avatar
include /partials/button
include /partials/lang-combinations-list
include /partials/lang-combinations-dropdown
include /partials/choose-actions-dropdown
include /partials/massive-actions-dropdown
include /partials/view-select
-
  var users = [
    { id:'12879452', name:{'link':'employee-settings.html', 'image':'images/user/avatar.jpg', name:'Lukas Baranauskas'}, accType:'Freelance', services:['proofreading', 'translation'], languages:true, status:'Wating for approval', actions:true },
    { id:'12879452', name:{'link':'employee-settings.html', 'image':'images/user/avatar.jpg', name:'Marija Juodijenė'}, accType:'Full time', services:['proofreading', 'translation', 'interpreting', 'creative-editing'], languages:true, status:'Wating for approval', actions:true },
    { id:'12879452', name:{'link':'employee-settings.html', 'image':'images/user/avatar.jpg', name:'Marija Juodijenė'}, accType:'Full time', services:[], languages:true, status:'Wating for approval', actions:true },
    { id:'12879452', name:{'link':'employee-settings.html', 'image':'images/user/avatar.jpg', name:'Marija Juodijenė'}, accType:false, services:[], languages:true, status:'Wating for approval', actions:true },
  ]

.table-holder
  table.table
    thead
      tr
        each heading in ['ID:', 'Name:', 'Acc type:', 'Services:', 'Languages:', 'Status:', 'Actions:']
          th
            h5 #{heading}
    tbody
      each user in users
        tr
          td
            p #{user.id}
          td
            a(href=user.name.link class="row-group row-group--sm row-group--align-center row-group--nowrap")
              .row-group__item
                +avatar({image:user.name.image})
              .row-group__item
                p.font-bold #{user.name.name}
          td
            if(user.accType)
              if(user.accType === 'Freelance')
                +button({border:'caribbean-green', noEvents:true})(type="button")| #{user.accType}
              if(user.accType === 'Full time')
                +button({border:'surfie-green', noEvents:true})(type="button")| #{user.accType}
          td
            if(user.services.length)
              .row-group.row-group--sm.row-group--nowrap.row-group--align-center
                each service in user.services
                  .row-group__item
                    img(src=`images/icons/${service}.svg`, alt=`${service}`)
          td
            if(user.languages)
              .row-group.row-group--sm.row-group--nowrap.row-group--align-center
                .row-group__item
                  +lang-combinations-list()
                .row-group__item
                  +lang-combinations-dropdown()
          td
            p.font-semibold.text-whating-yellow #{user.status}
          td
            if(user.actions)
              +choose-actions-dropdown()

.catalog__content-footer
  +view-select()
  +massive-actions-dropdown()
