mixin button(props = {})
  -const { tag, classes, bg, fluid, type, size, border, radius, standard, shadow, disabled, inline, color, noEvents, start } = props
  -const tagType = tag ? tag : (attributes.href ? 'a' : 'button')
  -
    const classnames = classNames({
      'button': standard !== false,
      'button--fluid': fluid,
      'button--inline': inline,
      'button--no-events': noEvents,
      'button--disabled': disabled,
      'button--shadow': shadow,
      'button--start': start,
      [`button--${type}`]: type,
      [`button--${bg}`]: bg,
      [`button--border-${border}`]: border,
      [`button--color-${color}`]: color,
      [`button--size-${size}`]: size,
      [`button--radius-${radius}`]: radius,
      [classes]: classes
    })

  #{tagType}(href=attributes.href class=classnames disabled=disabled)&attributes(attributes)
    block
