mixin button(props = {})
  -const { tag, classes, bg, fluid, type, border, stadard } = props
  -const tagType = tag ? tag : (attributes.href ? 'a' : 'button')
  -
    const classnames = classNames({
      'button': stadard !== false,
      'button--fluid': fluid,
      [`button--${type}`]: type,
      [`button--bg-${bg}`]: bg,
      [`button--border-${border}`]: border,
      [classes]: classes
    })

  #{tagType}(href=attributes.href class=classnames)&attributes(attributes)
    block
