include /partials/close

mixin chip(props = {})
  -const { title, border, color, dots, close, fluid, icon, size } = props
  -
    const classnames = classNames({
      'chip': true,
      [`chip--border-${border}`]: border,
      [`chip--color-${color}`]: color,
      [`chip--size-${size}`]: size,
      [classes]: classes,
    })

  div(class=classnames)
    .chip__title #{title}
    if(icon)
      .chip__icon
        +icon({name:icon.name, fill:icon.fill, width:icon.width, height:icon.height})
    if(close)
      .chip__icon
        +close({color:'brick-red', size:'10'})
    if(dots)
      .chip__dots
        +icon({name:'three-dots', fill:border, width:15, height:3})
