include /partials/input

mixin radio(props = {})
  -const { checked, classes, inputClasses, label, name, value } = props
  -
    const classnames = classNames({
      'radio': true,
      [classes]: classes,
    })

  label(class=classnames)
    .radio__box
      input(class="radio__input" type="radio" checked=checked value=value name=name)&attributes(attributes)
      span.radio__checkmark
    span.radio__name #{label}
