include /partials/input
include /partials/button

mixin select(props = {})
  -const { classes, label, options, auto, bordered, transparent, search, inline, h100 } = props;
  -
    const classnames = classNames({
      'select': true,
      'js-select': true,
      'select--bordered': bordered,
      'select--auto': auto,
      'select--transparent': transparent,
      'select--inline': inline,
      'select--h-100': h100,
      [classes]: classes,
    })

  div(class=classnames)
    +button({classes:'select__label js-select-label', stadard:false})(data-selected=label.name type="button")
      | !{label.content}
    .select__dropdown.js-select-dropdown
      if(search)
        .select__search
          +input({size:'sm', bordered:true, classes:'js-select-search'})(type="text" placeholder="Type something")
      div(data-select-simplebar class="custom-scroll select__dropdown-scroll")
        div(class="select__options js-select-options")
          each option in options
            div(class="select__option js-select-option" data-option=option.name)
              | !{option.content}

    input(type="hidden" class="select__input js-select-input")
