include /partials/input

mixin select(props = {})
  -const { modifiers, label = {}, optionsClass, options, auto, bordered, transparent } = props;
  -
    const classnames = classNames({
      'select': true,
      'js-select': true,
      'select--bordered': bordered,
      'select--auto': auto,
      'select--transparent': transparent,
      [modifiers]: modifiers,
    })

  div(class=classnames)
    -const dataSelected = label.selected ? label.name : false
    .select__label.js-select-label(data-selected=dataSelected)
      .select__left
        if(label.image)
          img(src=label.image, class="select__thumbnail" alt="icon")
        span #{label.name}
      if(label.right)
        .select__right
          | !{label.right}

    div(class=`select__options ${optionsClass ? optionsClass : ''} js-select-options`)
      div(data-select-simplebar class="custom-scroll select__options-scroll")
        each option in options
          -const { name, link, optionClass, image, dataAttr, right } = option
          -const tag = link ? 'a' : 'div'
          #{tag}(href=link class=`select__option ${optionClass ? optionClass : ''} js-select-option` data-option=name)&attributes(dataAttr)
            .select__left
              if(image)
                img(src=image, class="select__thumbnail" alt="icon")
              span #{name}
            if(right)
              .select__right
                | !{right}

    input(type="hidden" class="select__input js-select-input")
