mixin status-message(props = {})
  -const { title, link, icon = {}, color } = props

  .status-message
    .status-message__icon
      +icon(icon.name, `svg-icon--${color}`)(width=icon.width height=icon.height)
    .status-message__info
      span.status-message__title #{title}
      if(link)
        a(href=link).status-message__link Information
