mixin times(limit)
  - for (var i = 1; i <= limit; i++) {
      block
  - }

mixin icon(props = {})
  -const { name, classes, fill, width, height } = props
  -
    const classnames = classNames({
      'svg-icon' : true,
      [`svg-icon--${fill}`] : fill,
      [classes]: classes,
    })
  svg(class=classnames width=width height=height)&attributes(attributes)
    use(href=`images/svg/svg-sprite/symbol/sprite.svg#${name}` x="0" y="0")
