include /partials/avatar
include /partials/button
include /partials/inline-button
include /partials/upload-documents
include /partials/link
include /partials/skills-dropdown
include /partials/skill
-
  var list1 = [
    {left:'#1:', right:'', leftAccent:true},
    {left:'Diploma type:', right:'Magister'},
    {left:'Diploma category:', right:'Translation & Interpreting'},
  ]
-
  var list2 = [
    {left:'#2:', right:'', leftAccent:true},
    {left:'Diploma type:', right:'Magister'},
    {left:'Diploma category:', right:'Translation & Interpreting'},
  ]

.settings-education
  .settings-education__row
    //- Column
    .settings-education__col
      .settings-education__heading
        .row-group.row-group--align-center
          h5 Education:
      .settings-education__line
        .info-list
          each item in list1
            .info-list__item
              .info-list__left
                p(class=`p-sm font-semibold ${item.leftAccent ? 'text-surfie-green' : 'text-silver-chalice'}`) #{item.left}
              .info-list__right
                p.p-sm.font-semibold #{item.right}
      .settings-education__line
        .info-list
          .info-list__items
            each item in list2
              .info-list__item
                .info-list__left
                  p(class=`p-sm font-semibold ${item.leftAccent ? 'text-surfie-green' : 'text-silver-chalice'}`) #{item.left}
                .info-list__right
                  p.p-sm.font-semibold #{item.right}
    //- Column
    .settings-education__col
      .settings-education__heading
        h5 Tax information:
      .info-list
        .info-list__item
          .info-list__left
            p.p-sm.font-semibold.text-silver-chalice Issuing invoice:
          .info-list__right
            p.p-sm.font-semibold.text-surfie-green IVP
    //- Column
    .settings-education__col
      .settings-education__heading.settings-education__heading--alt
        .row-group.row-group--align-center
          .row-group__item
            h5 Skills:
          .row-group__item
            +skills-dropdown
      .column-group
        .column-group__item
          +skill({title:'Adobe Acrobat Pro'})
        .column-group__item
          +skill({title:'Illustrator'})
        .column-group__item
          +skill({title:'Trados'})
    //- Column
    .settings-education__col
      .settings-education__heading.settings-education__heading--alt
        .row-group.row-group--align-center
          .row-group__item
            h5 Expertise:
          .row-group__item
            +skills-dropdown
      .column-group
        .column-group__item
          +skill({title:'Technical'})
        .column-group__item
          +skill({title:'Legal'})
        .column-group__item
          +skill({title:'Medical'})

    //- Upload
    .settings-education__upload
      +upload-documents()
