include /partials/avatar
include /partials/button
include /partials/link
-
  var list1 = [
    {left:'Accoun type:', right:'Employer'},
    {left:'Name:', right:'Vaidotas Rimeikis'},
    {left:'Email:', right:'lj.baranauskas@gmail.com'},
    {left:'Phone:', right:'+3706891864'},
    {left:'Native:', right:'Lithuanian'},
    {left:'Address:', right:'Adres 5g.', rightAccent:true},
    {left:'Zip code:', right:'LT-4421'},
    {left:'City:', right:'Vilnius'},
    {left:'Country:', right:'Lithuania'},
    {left:'Birth day:', right:'2019-04-01'},
    {left:'Additional:', right:'Sample sample sample sample sample sample'},
  ]
-
  var list2 = [
    {left:'Holder type:', right:'Lukas Baranauskas'},
    {left:'Bank No:', right:'LT 99992192929219'},
    {left:'Bank:', right:'AB “LUMINOR”'},
    {left:'Swift:', right:'SW2122'},
    {left:'Bank Co:', right:'12232'},
    {left:'Paypal:', right:'info@irina.com '},
  ]

.catalog__content-wrap
  .row
    .col-12.col-xl-3.col-xxl-2.offset-0.offset-xxl-1.mb-40.mb-xl-0
      .column-group.column-group--sm.column-group--justify-items-center
        .column-group__item
          .edit-avatar
            +avatar({size:'xl', image:'images/user/avatar.jpg'})
            .edit-avatar__button
              +button({bg:'alabaster', type:'round', size:'50'})(type="button" data-modal-open="edit-avatar-modal")
                +icon({name:'camera', fill:'surfie-green', width:'18', height:'16'})
        .column-group__item
          p.p-sm Member since: 2015-04-12
        .column-group__item
          +link()(data-modal-open="password-change-modal")| Change password
    .col-12.col-md-6.col-xl-4.mb-40.mb-md-0
      .column-heading
        h5 General information:
      .info-list
        each item in list1
          .info-list__item
            .info-list__left
              .font-semibold.text-silver-chalice #{item.left}
            .info-list__right
              p(class=`font-semibold ${item.rightAccent ? 'text-surfie-green' : ''}`) #{item.right}
    .col-12.col-md-6.col-xl-4
      .column-heading
        h5 Bank information:
      .info-list
        each item in list2
          .info-list__item
            .info-list__left
              p.font-semibold.text-silver-chalice #{item.left}
            .info-list__right
              p(class=`font-semibold ${item.accent ? 'text-surfie-green' : ''}`) #{item.right}
