include /partials/icon-title
include /partials/button
include /partials/lang-pairs-list
include /partials/repetitions-dropdown
-
  var services = [
    {service:{title:'Translation', icon:'translation'}, langPair:true, matt:'C. W. S', unit:'1 = 1700', rate:'9.21 EUR'},
    {service:{title:'Proofreading', icon:'proofreading'}, langPair:true, matt:'C. W. S', unit:'1 = 1700', rate:'9.21 EUR'},
    {service:{title:'Additional', icon:'additional'}, langPair:false, matt:'Hour', unit:'1 = 1', rate:'30 EUR'},
    {service:{title:'Interpreting - Constative', icon:'interpreting'}, langPair:true, matt:'Hour', unit:'1 = 1', rate:'30 EUR'},
    {service:{title:'Transcribing', icon:'transcription'}, langPair:true, matt:'Min', unit:'1 = 1', rate:'9.21 EUR'},
  ]

.mb-40
  .table-holder
    table.table
      thead
        tr
          each heading in ['Services:', 'Language pair:', 'Matt:', 'Unit:', 'Rate:', '+ fee / -%', 'Repetitions:']
            th
              h5 #{heading}
      tbody
        each service in services
          tr
            td
              +icon-title({img:`images/icons/${service.service.icon}.svg`, title:service.service.title})
            td
              if(service.langPair)
                +lang-pairs-list()
              else
                p --
            td
              p #{service.matt}
            td
              p #{service.unit}
            td
              p #{service.rate}
            td
              +repetitions-dropdown({text:'Urgent', perc:'(+15%)'})
            td
              +repetitions-dropdown({text:'Rep', perc:'(-30%)', negative:true})

.catalog__content-wrap
  .row
    //- Column
    div(class="col-12 col-xxl-11 offset-0 offset-xxl-1")
      p.font-semibold Have you learn to do new services?<br/> <a href="#" class="text-boston-blue">Contact<a/> the project manager to update your pricing & services list.
