include /partials/avatar
include /partials/button
include /partials/upload-documents
include /partials/link
include /partials/create-skills-dropdown
include /partials/chip
-
  var list1 = [
    {left:'#1:', right:'', leftAccent:true},
    {left:'Diploma type:', right:'Magister'},
    {left:'Diploma category:', right:'Translation & Interpreting'},
  ]
-
  var list2 = [
    {left:'#2:', right:'', leftAccent:true},
    {left:'Diploma type:', right:'Magister'},
    {left:'Diploma category:', right:'Translation & Interpreting'},
  ]

.catalog__content-wrap
  .row
    //- Column
    div(class="col-12 col-md-6 col-xl-4 offset-0 offset-xxl-1 mb-40")
      .column-heading
        h5 Education:
      .column-group
        .column-group__item
          .info-list
            each item in list1
              .info-list__item
                .info-list__left
                  p(class=`p-sm font-semibold ${item.leftAccent ? 'text-surfie-green' : 'text-silver-chalice'}`) #{item.left}
                .info-list__right
                  p.p-sm.font-semibold #{item.right}
        .column-group__item
          .info-list
            .info-list__items
              each item in list2
                .info-list__item
                  .info-list__left
                    p(class=`p-sm font-semibold ${item.leftAccent ? 'text-surfie-green' : 'text-silver-chalice'}`) #{item.left}
                  .info-list__right
                    p.p-sm.font-semibold #{item.right}
    //- Column
    div(class="col-12 col-md-6 col-xl-2 mb-40")
      .column-heading
        h5 Tax information:
      .info-list
        .info-list__item
          .info-list__left
            p.p-sm.font-semibold.text-silver-chalice Issuing invoice:
          .info-list__right
            p.p-sm.font-semibold.text-surfie-green IVP
    //- Column
    div(class="col-12 col-md-6 col-xl-3 col-xxl-2 mb-40")
      .column-heading
        .row-group.row-group--align-center
          .row-group__item
            h5 Skills:
          .row-group__item
            +create-skills-dropdown()
      .preffered-list
        div(data-simplebar class="custom-scroll preffered-list__scroll")
          each expertise in ['Adobe Acrobat Pro', 'Illustrator', 'Trados']
            .preffered-list__item
              +chip({title:`${expertise}`, close:true, border:'silver-chalice'})
    //- Column
    div(class="col-12 col-md-6 col-xl-3 col-xxl-2 mb-40")
      .column-heading
        .row-group.row-group--align-center
          .row-group__item
            h5 Expertise:
          .row-group__item
            //- +create-skills-dropdown()
      .preffered-list
        div(data-simplebar class="custom-scroll preffered-list__scroll")
          each expertise in ['Technical', 'Legal', 'Medical']
            .preffered-list__item
              +chip({title:`${expertise}`, close:true, border:'silver-chalice'})

    //- Upload
    div(class="col-12 col-xl-6 offset-0 offset-xxl-1")
      +upload-documents()
